---
layout: archive
title: "Collaborations"
permalink: /collaborations/
author_profile: true
feature_row:
  - image_path: julie.jpg
    alt: "Julie Hengst"
    title: "Julie Hengst" 
    excerpt: "University of Illinois at Urbana-Champaign"
    url: "/collaborations/collaborations-1"
  - image_path: martha.png
    alt: "Martha H. Sherrill"
    title: "Martha H. Sherrill"
    excerpt: "Southeastern Louisiana University"
    url: "/collaborations/collaborations-2"
  - image_path: mili.png
    alt: "Mili Mathew"
    title: "Mili Mathew"
    excerpt: "St. Cloud State University"
    url: "/collaborations/collaborations-5"
  - image_path: robin.png
    alt: "Robin Pollens"
    title: "Robin Pollens"
    excerpt: "Western Michigan University"
    url: "/collaborations/collaborations-3"
  - image_path: sandy.png
    alt: "Sandra Glista"
    title: "Sandra Glista"
    excerpt: "Western Michigan University"
    url: "/collaborations/collaborations-4"
  - image_path: goswami.jpg
    alt: "Satyapal Goswami"
    title: "Satyapal Goswami"
    excerpt: "All India Institute of Speech & Hearing (AIISH)"
    url: "/collaborations/collaborations-6"
---

{% include feature_row %}

{% include base_path %}

<!-- {% for post in site.collaborations %}
  {% include archive-single.html %}
{% endfor %} -->
