---
layout: archive
title: "Current Lab Students"
permalink: /people/
author_profile: true
feature_row:
  - image_path: priscilla.png
    alt: "Priscilla Purushothaman"
    title: "Priscilla Purushothaman"
    url: "/people/people-1"
  - image_path: keke.png
    alt: "Keanna Thornton"
    title: "Keanna Thornton"
    url: "/people/people-2"
  - image_path: bao.png
    alt: "Bao Yang"
    title: "Bao Yang"
    url: "/people/people-3"
  - image_path: markie.png
    alt: "Markie Venturini"
    title: "Markie Venturini"
    url: "/people/people-4"
  - image_path: connor.png
    alt: "Connor Abell"
    title: "Connor Abell"
    url: "/people/people-5"
  - image_path: katie.png
    alt: "Katie Giustino"
    title: "Katie Giustino"
    url: "/people/people-6"
---

{% include feature_row %}

{% include base_path %}
