---
layout: archive
permalink: /people/
author_profile: true
feature_row:
  - image_path: priscilla.png
    alt: "Priscilla Purushothaman"
    title: "Priscilla Purushothaman"
    url: "/people/people-1"
  - image_path: keke.png
    alt: "Keanna Thornton"
    title: "Keanna Thornton"
    url: "/people/people-2"
  - image_path: bao.png
    alt: "Bao Yang"
    title: "Bao Yang"
    url: "/people/people-3"
  - image_path: markie.png
    alt: "Markie Venturini"
    title: "Markie Venturini"
    url: "/people/people-4"
  - image_path: connor.png
    alt: "Connor Abell"
    title: "Connor Abell"
    url: "/people/people-5"
  - image_path: katie.png
    alt: "Katie Giustino"
    title: "Katie Giustino"
    url: "/people/people-6"
---

<div>
  <h1>Lab Director</h1>
  <h2>Suma Devanga Ph.D., CCC-SLP</h2>
  <p>Dr. Devanga joined the Department of Speech, Language and Hearing Sciences at Western Michigan University in 2017. She completed her undergraduate degree in Speech-Language Pathology and Audiology and master’s degree in Speech-Language Pathology from the University of Mysore, India. She completed her Ph.D., in Speech and Hearing Science from the University of Illinois, Urbana-Champaign. At WMU, Dr. Devanga leads the NCI lab and conducts clinical research aimed at improving everyday communicative functioning in individuals with aphasia and other acquired neurogenic communication disorders. Dr. Devanga is also a part of the clinical team leading the <a href="https://wmich.edu/unifiedclinics/vanriper/aphasia">Aphasia Communication Enhancement program at the Unified Clinics</a>.</p>
</div>

<div>
  <h1>Graduate Research Assistants</h1>
  <li>Molly Walker: Contact Molly at molly.m.walker@wmich.edu</li>
  <li>Anna Sankovich: Contact Anna at anna.sankovich@wmich.edu</li>
</div><br>

<h1>Current Lab Students</h1>
{% include feature_row %}

{% include base_path %}
